body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #b3e0ff; /* Warna biru muda */
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.full-width-table {
    width: 100%;
    border-collapse: collapse;
}

.full-width-table th,
.full-width-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.full-width-table th {
    background-color: #f2f2f2;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px auto; /* Tengah secara horizontal */
}

.input-group {
    margin-bottom: 15px;
}

.input-group input[type="text"],
.input-group input[type="password"],
.input-group select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.input-group input[type="text"]:focus,
.input-group input[type="password"]:focus,
.input-group select:focus {
    outline: none;
    border-color: #007bff;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ffc09f;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.logout {
    float: right;
}

.logout-container {
    float: right;
}
.btn-tambah {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.btn-tambah:hover {
    background-color: #0056b3;
}